#word-container {
  background-color: #195272;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.words-remaining {
  position: absolute;
  top: 0;
  left: 0;
  margin: 48px;
  font-size: 2em;
}
.get-word-button {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 12%;
  margin: 24px;
  color: #195272;
}
h1 {
  font-size: 5em;
  margin-top: 48px;
}
p {
  font-size: 2em;
}
