<div class="container-background">
  <div class="word-container">
    <div>
      <app-custom-button
        [buttonStyle]="homeButtonStyleClass"
        [buttonText]="'END_GAME_BUTTON' | translate"
        iconSrc="../../../../assets/house.svg"
        (click)="goToWelcomePage()"
        alt="Go home button"
        aria-label="Home button"
        id="home-btn"
      />

      <div class="words-remaining">
        {{ 'ROUND_NUMBER' | translate }} {{ guessUsed }} {{ 'OF' | translate }} {{ totalRounds }}
      </div>

      <div class="logo-container">
        <img class="logo" src="assets/logo/IO-logo-inverted_transparent-bg.png" alt="logo" />
      </div>

      <div class="i-container">
        <app-i-avatar class="i-avatar" [color]="CustomColorsIO.white" [width]="50" [height]="200"></app-i-avatar>
      </div>

      <app-speech-bubble
        [textColor]="CustomColorsIO.white"
        [bubbleColor]="CustomColorsIO.purple"
        [pointerSide]="PointerSide.Left"
        [arrowAlignment]="ArrowAlignment.Center"
        [bubbleSize]="'medium'"
      >
        <ng-container slot="body-alt" class="speech-bubble-text">
          <div class="word-text">
            <p class="word-draw">{{ 'DRAW_LABEL' | translate }}</p>
            @if (loading) {
            <div>
              <mat-spinner class="white-spinner" [diameter]="56" id="white"></mat-spinner>
            </div>
            } @if (label) {
            <div>
              <h1 class="word-to-guess">{{ label | uppercase }}</h1>
              @if (isMultiPlayer) {
              <div class="timer">
                <span>{{ timeLeft }}</span>
              </div>
              }
            </div>
            }
          </div>
        </ng-container>
      </app-speech-bubble>
    </div>
    <footer>
      <div class="footer-content">
        <p id="difficulty">
          @if (isSinglePlayer) {
          {{ 'DIFFICULTY' | translate }}:
          <span id="difficulty-text">
            @switch (difficulty) { @case (1) {
            {{ 'EASY_BUTTON' | translate }}
            } @case (2) {
            {{ 'MEDIUM_BUTTON' | translate }}
            } @case (3) {
            {{ 'HARD_BUTTON' | translate }}
            } @default {
            {{ 'EASY_BUTTON' | translate }}
            } }
          </span>
          } @else {
          {{ 'MULTIPLAYER' | translate }}
          }
        </p>

        <app-custom-button
          [disabled]="loading && !isSinglePlayer"
          [buttonStyle]="forwardButtonStyleClass"
          [buttonText]="'DRAW_BUTTON' | translate"
          (keydown)="toDrawingBoard()"
          (click)="toDrawingBoard()"
          id="draw-btn"
        >
          <mat-icon slot="custom-mat-icon" class="button-icon-gradient" aria-label="play_arrow"
            >arrow_forward_ios</mat-icon
          >
        </app-custom-button>
      </div>
    </footer>
  </div>
</div>
