@import '../../../variables.scss';

.word-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white_color;
}

.words-remaining {
  font-style: AeonikMedium;
  text-align: center;
  font-size: 2em;
  margin-bottom: 32px;
}

.white-spinner {
  margin-top: 2rem;
}

.home-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  background: $white_color;
  color: $black_color;
  font-size: 1.25rem;
  border-radius: 5rem;
  gap: 0.5rem;
}

.home-btn:hover {
  background: #eee;
}

.home-btn:active {
  background: #ddd;
}

.home-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.words-remaining {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  font-size: 2em;
  font-family: 'AeonikMedium';
  font-size: var(--fontSizeSmall);
  margin: 0;
}

.word-draw {
  font-family: AeonikRegular;
  font-size: --var(fontSizeMedium);
}

.word-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  padding: 2rem;
  min-width: 47vw;
}

.word-to-guess {
  margin-top: 1.5rem;
  font-size: 64px;
  font-family: AeonikMedium;
}

.timer {
  font-family: AeonikMedium;
  font-size: var(--fontSizeLarge);
  margin-top: 1.5rem;
}

.i-container {
  position: absolute;
  bottom: 170px;
  left: 200px;
}

.i-avatar {
  height: 150px;
}

.draw-word-button {
  background: linear-gradient(90deg, rgba(0, 194, 255, 1) 0%, rgba(253, 187, 45, 1) 100%);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: 20px;
  border-radius: 50px;
  height: 40px;
  min-width: 240px;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.next-page-button .mat-icon {
  font-size: 1.5rem;
}

.avatar {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 65px;
}

.avatar-image {
  height: 150px;
}

.header {
  font-size: 5rem;
  font-family: 'AeonikMedium';
  margin-top: 60px;
}

p {
  font-size: 2em;
}

.playernr {
  top: 0px;
  position: absolute;
  padding: 35px;
  color: $white_color;
  font-weight: 500;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.button-container {
  justify-self: end;
  padding: 0.7em;
  border-radius: 5em;
  background: $full_gradient;
  margin-right: 1rem;
}

.next-page-button {
  padding: 0.6em 0.8em;
  background-color: rgba(0, 0, 0, 0.3);
  color: $white_color;
  font-weight: bold;
  font-size: 1.45rem;
  border-radius: 5em;
  letter-spacing: 0.05em;
}
.button-container:hover {
  text-decoration: none;
  color: $white_color;
}
.button-container:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 5px;
  width: 30px;
  height: 100%;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.button-container:hover {
  opacity: 0.9;
}
.button-container:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.15), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.button-text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.disabled {
  opacity: 0;
  cursor: not-allowed;
}

#header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: center;
  justify-self: center;
}

#difficulty {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-family: AeonikRegular;
  font-size: var(--fontSizeSmall);
}

#difficulty-text {
  font-family: AeonikMedium;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 3em;
    margin-top: 5px;
  }
}
