.word-container {
  background: linear-gradient(0.5deg, #195272 -0.56%, #05a3c7 138.78%);
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.words-remaining {
  position: absolute;
  top: 0;
  left: 0;
  margin: 35px;
  font-size: 2em;
  font-style: italic;
}
.word-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.word-draw {
  text-align: center;
  font-size: 24px;
}
@media (min-width: 600px) {
  .word-draw {
    font-size: 34px;
  }
}
.word-to-guess {
  color: #fa852f;
  font-size: 34px;
}
@media (min-width: 600px) {
  .word-to-guess {
    font-size: 52px;
  }
}
.draw-word-button {
  background: #ffffff;
  color: #264d56;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  font-size: 20px;
  border-radius: 50px;
  height: 40px;
  min-width: 240px;
  max-width: 400px;
}
@media (min-width: 600px) {
  .draw-word-button {
    font-size: 36px;
    height: 60px;
    position: absolute;
    bottom: 65px;
    right: 65px;
  }
}
.timer {
  text-align: center;
}
.avatar {
  display: none;
}
@media (min-width: 600px) {
  .avatar {
    display: block;
    margin-right: 10px;
    bottom: 0;
    position: absolute;
    left: 0;
    margin: 65px;
  }
}
.header {
  font-size: 5em;
  margin-top: 40px;
}
p {
  font-size: 2em;
}
.playernr {
  top: 0px;
  position: absolute;
  padding: 35px;
  color: #fee500;
  font-weight: 500;
}
