.drawing-container {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.label {
  font-family: 'AeonikMedium';
  text-transform: uppercase;
}

.example-drawings-list {
  display: flex;
  list-style: none;
  gap: 3em;
}

.example-drawing-li {
  background: white;
  height: 174px;
  width: 226;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-drawing-img {
  height: 100%;
  max-width: 100%;
}

.speech-bubble-text {
  font-family: AeonikRegular;
  font-size: 2rem;
  line-height: 2.5rem;
}
