.drawing-container {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.example-drawings-list {
  display: flex;
  list-style: none;
  gap: 3em;
}

.example-drawing-li {
  background: white;
  height: 25vh;
  width: 25vh;
  border-radius: 1em;
}

.example-drawing-img {
  height: 25vh;
  width: 25vh;
  border-radius: 1em;
}

.speech-bubble-text {
  font-family: AeonikRegular;
  font-size: 2rem;
  line-height: 2.5rem;
}

.speech-bubble {
  margin-left: auto;
}
