.drawing-container {
  display: flex;
  justify-content: space-between;
}

.example-drawings-list {
  display: flex;
  list-style: none;
  gap: 3em;
}

.example-drawing {
  height: 256px;
  width: 256px;
  background: white;
  border-radius: 1em;
}

.example-drawing-img {
  border-radius: 1em;
}
