.example-container {
  height: 100vh;
}
mat-sidenav {
  width: 25%;
}
#highscore-list {
  list-style: none;
  padding: 0;
  font-size: 20px;
}
#list-content {
  display: flex;
  justify-content: space-between;
  margin: 12px 12px;
}
#text-header {
  text-align: center;
  margin: 12px;
  border-bottom: 1px solid;
  color: #195272;
}
.name-form {
  display: flex;
  padding-left: 15px;
}
.highlight {
  color: #fa852f;
}
.send-btn {
  color: #195272;
}
#form-test {
  height: 50px;
}
.send-btn {
  background-color: #f8f8f8;
  margin-left: 12px;
}

::ng-deep .mat-form-field {
  .mat-form-field-flex {
    background-color: #f8f8f8;
    padding: 5px;
    border-radius: 10px;
  }
  .mat-form-field-underline {
    height: 1px;
    margin-bottom: 5px;
    width: 90%;
    margin-left: 5px;
  }
}
