<div class="container">
  <button mat-fab type="button" value="Play" color="primary" class="tts-button">
    <mat-icon>volume_up</mat-icon>
  </button>
  <div class="game-mode-container">
    <div class="avatar"><img class="avatar-image" src="../../../assets/avatar-welcome.svg" alt="avatar" /></div>
    <div class="button-container">
      <div class="info-text">Velg modus:</div>
      <a routerLink="/playgame/singleplayer" routerLinkActive="active">
        <button mat-raised-button class="game-mode-button">
          <div class="button-text">
            <mat-icon class="mode-button-icon" aria-label="Example home icon">person</mat-icon>1 spiller
          </div>
        </button>
      </a>
      <a routerLink="/playgame/multiplayer" routerLinkActive="active">
        <button mat-raised-button class="game-mode-button">
          <div class="button-text">
            <mat-icon class="mode-button-icon" aria-label="Example home icon">group</mat-icon>2 spiller
          </div>
        </button>
      </a>
    </div>
    <a routerLink="/" routerLinkActive="active">
      <button mat-raised-button class="back-button">
        <div class="button-text">
          <mat-icon class="button-icon" aria-label="Example home icon">home</mat-icon>Tilbake
        </div>
      </button>
    </a>
  </div>
</div>
