.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0.5deg, #195272 -0.56%, #05a3c7 138.78%);
}
.game-mode-container {
  display: flex;
  flex-direction: row;
}
.button-container {
  display: flex;
  flex-direction: column;
}
.avatar {
  display: none;
}
@media (min-width: 600px) {
  .avatar {
    display: block;
    margin-right: 25px;
  }
}
.avatar-image {
  height: 250px;
}
a {
  text-decoration: none;
}
.info-text {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
@media (min-width: 600px) {
  .info-text {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
  }
}
.game-mode-button {
  background: #fa852f;
  color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  font-size: 20px;
  border-radius: 50px;
  height: 40px;
  min-width: 240px;
  max-width: 400px;
}
@media (min-width: 600px) {
  .game-mode-button {
    font-size: 32px;
    height: 60px;
    min-width: 270px;
    max-width: 400px;
  }
}
.back-button {
  background: #ffffff;
  color: #14213d;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  font-size: 20px;
  border-radius: 50px;
  height: 40px;
  min-width: 240px;
  max-width: 400px;
}
@media (min-width: 600px) {
  .back-button {
    font-size: 36px;
    height: 60px;
    position: absolute;
    bottom: 65px;
    left: 65px;
  }
}
@media (max-width: 600px) {
  .game-mode-container {
    flex-direction: column;
  }
}
.tts-button {
  top: 0;
  position: absolute;
  right: 0;
  margin: 24px;
  color: #14213d;
}
.button-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-icon {
  color: #14213d;
  margin-right: 10px;
  font-size: 28px;
}
.mode-button-icon {
  color: #ffffff;
  margin-right: 10px;
  font-size: 28px;
}
.mat-fab.mat-primary {
  background: #ecf8ff;
  color: #14213d;
}
