
<!-- For buttonstyles to advance in the game -->
@if (buttonStyle === 'select-mode-button' || buttonStyle === 'select-mode-button-large' || buttonStyle === 'forward-button' || buttonStyle === 'play-again-button') {
  <button 
  [disabled]="disabled" 
  [class]="buttonStyle"
  [@buttonClickEffect]="buttonState"
  (click)="onButtonClick()"> 

  @if (buttonStyle === 'forward-button') {
    <div [class]="'full-gradient-inner'">
      <div class="button-text">
        {{buttonText}}
        <mat-icon class="back-button-icon" aria-label="play_arrow">arrow_forward_ios</mat-icon> 
    </div>
  </div>
    } 
  @else {
      <div [class]="'non-gradient-inner'">
        <div class="button-text">
          <ng-content select="[slot='custom-mat-icon']"></ng-content>
          {{buttonText}}
        </div>
      </div>
    }
  </button>
  } 

@else {
<!-- For ButtonStyles that go back or home, and default -->
  <button 
  [disabled]="disabled"
  [class]="buttonStyle"
  [@buttonClickEffect]="buttonState"
  (click)="onButtonClick()">
    <div class="button-text">
      @switch (buttonStyle) {
        @case ('back-button') {
          <img class="back-button-icon" src="../../../../assets/icons/arrow4-svgrepo-com.svg" [alt]="alt" />
        }
        @case ('home-button') {
          <img class="button-icon" src="../../../../assets/house.svg" [alt]="alt" />
        }
      }
      {{buttonText}}
    </div>
  </button>
}
