@import '../../../variables.scss';

#intermediate-container {
  display: grid;
  grid-template-rows: 10vh 44vh 34vh auto;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  color: $white_color;
  padding: 1em 1.5em 0;
  min-height: 100vh;
}

app-custom-header {
  grid-row: 1;
  grid-column: 1 / -1;
}

.avatar-feedback {
  grid-column: 1 / 8;
  justify-self: start;
}

.user-drawing-and-score {
  grid-column: 9 / 12;
  justify-self: end;
  margin-top: 0.2rem;
}


.example-drawings {
  margin-top: 2em;
  margin-right: 3em;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
}

.footer {
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  align-self: flex-end;
  padding-bottom: 1em;
}