.won {
  border: 8px solid #68d466;
}
.loss {
  border: 8px solid #de1f1f;
  display: flex;
  justify-content: center;
}
.result-img > img {
  width: 256px;
  height: 256px;
}
#intermediate-container {
  min-height: 100vh;
  background: linear-gradient(0.5deg, #195272 -0.56%, #05a3c7 138.78%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intermediate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}
@media (min-width: 600px) {
  .intermediate-container {
    margin-top: 0px;
  }
}
.intermediate-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 600px) {
  .intermediate-content {
    flex-direction: row;
  }
}
.avatar-container {
  width: 155px;
  display: none;
  margin-right: 20px;
}
@media (min-width: 600px) {
  .avatar-container {
    display: block;
  }
}
.avatar-container-spacer {
  width: 155px;
  display: none;
}
@media (min-width: 600px) {
  .avatar-container-spacer {
    display: block;
  }
}
.next-word-button {
  background: #ffffff;
  color: #264d56;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  font-size: 20px;
  border-radius: 50px;
  height: 40px;
  min-width: 240px;
  max-width: 400px;
}
@media (min-width: 600px) {
  .next-word-button {
    font-size: 36px;
    height: 60px;
    position: absolute;
    bottom: 65px;
    right: 65px;
  }
}
.word-text {
  text-align: center;
}
.words-remaining {
  position: absolute;
  top: 0;
  left: 0;
  margin: 35px;
  font-size: 2em;
  font-style: italic;
}
.tts-button {
  top: 0;
  position: absolute;
  right: 0;
  margin: 24px;
}
.mat-fab.mat-primary {
  background: #ecf8ff;
  color: #14213d;
}
