.mat-dialog-container {
  border-radius: 56px;
  width: 698px;
  height: 256px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ng-star-inserted{
  width: inherit;

}

.content {
  width: 100;
}

.actions {
  width: inherit;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}