<div mat-dialog-content class="statistics">
  <div class="statistics-content">
      <!-- Toggle component to switch between month and year -->
      <app-toggle (toggleChanged)="onToggleChanged($event)"></app-toggle>

      <div class="form-section">
          <!-- Month/Year Selection Section -->
          @if(selected === "month") {
            <select-month-component (valueSelected)="onMonthSelected($event)"></select-month-component>
          }
          <!-- Year Selection Section -->
          @else {
          <select-year-component (valueSelected)="onYearSelected($event)"></select-year-component>
          }
      </div>

      <!-- Confirm Button -->
      <button mat-button class="confirm-btn" (click)="confirmSelection()">Hent statistikk</button>

      <!-- Display Fetched Data -->
      @if (dataFetched()) {
      <div class="statistics-result">
          <br>
          @if (selected == "month") {
          <h2>Statistikk for {{ display_month }} {{ year }}</h2>
          }
          @else {
          <h2>Statistikk for {{ selectedYear }}</h2>
          }
          <p>Totalt antall spill: {{ scoreCount }}</p>

          <graph-component [year]="selectedYear"></graph-component>

      </div>
      }

      <!-- Close Button -->
      <button mat-button mat-dialog-close class="close-btn" (click)="closeStatistics()">Lukk</button>
  </div>
</div>
