<div mat-dialog-content class="content">
  <div class="statistics-content">
      <!-- Toggle component to switch between month and year -->
      <app-toggle (toggleChanged)="onToggleChanged($event)"></app-toggle>

      <div class="form-section">
          <!-- Month/Year Selection Section -->
          @if(selected === "month") {
            <app-select-month-component (valueSelected)="onMonthSelected($event)"></app-select-month-component>
          }
          <!-- Year Selection Section -->
          @else {
          <app-select-year-component (valueSelected)="onYearSelected($event)"></app-select-year-component>
          }

          <!-- Confirm Button -->
          <button mat-button class="confirm-btn" (click)="confirmSelection()">Hent statistikk</button>

          <div> @if (errorMessage) {
            <br>
            <p>{{errorMessage}}</p>
          }</div>

      </div>

      <!-- Display Fetched Data -->
      @if (dataFetched()) {
      <div class="statistics-result">
          <br>
          @if (selected === "month") {
          <h2>Statistikk for {{ display_month }} {{ year }}</h2>
          }
          @else {
          <h2>Statistikk for {{ selectedYear }}</h2>
          }
          <p>Totalt antall spill: {{ scoreCount }}</p>
          <br>

          @if (selected === "year") {
            <app-graph-component [year]="selectedYear"></app-graph-component>
          }

      </div>
      }
  </div>
</div>
