@switch (currentPage) { @case (GAMESTATE.howToPlay) {
<div [@enterAnimation]><app-game-info></app-game-info></div>
} @case (GAMESTATE.difficultyPicker) {
<div [@enterAnimation]><app-game-pick-difficulty></app-game-pick-difficulty></div>
} @case (GAMESTATE.showWord) {
<div [@enterAnimation]><app-game-word-to-draw></app-game-word-to-draw></div>
} @case (GAMESTATE.drawingBoard) {
<div [@enterAnimation]><app-drawing></app-drawing></div>
} @case (GAMESTATE.intermediateResult) {
<div [@enterAnimation]>
  <app-game-intermediate-result></app-game-intermediate-result>
</div>
} @case (GAMESTATE.showResult) {
<div [@enterAnimation]>
  <app-game-result></app-game-result>
</div>
} @case (GAMESTATE.lobby) {
<div [@enterAnimation]>
  <app-game-welcome></app-game-welcome>
</div>
} }
