@if (showHowToPlay) {
<div [@enterAnimation]>
  <app-game-info></app-game-info>
</div>
} @if (showDifficultyPicker) {
<div [@enterAnimation]>
  <app-game-pick-difficulty></app-game-pick-difficulty>
</div>
} @if (showDrawingBoard) {
<div [@enterAnimation]>
  <app-drawing></app-drawing>
</div>
} @if (showIntermediateResult) {
<div [@enterAnimation]>
  <app-game-intermediate-result></app-game-intermediate-result>
</div>
} @if (showFinalResult) {
<div [@enterAnimation]>
  <app-game-result></app-game-result>
</div>
} @if (showWordToDraw) {
<div [@enterAnimation]>
  <app-game-word-to-draw></app-game-word-to-draw>
</div>
}
