.result-container {
  display: flex;
  background: linear-gradient(to top, #dbf0fd, #e7f3ff, #f1f6ff, #f9faff, #ffffff);
}
.result-main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 60%;
}
.result-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 20%;
}
#result-header {
  text-align: center;
  color: #195272;
  font-size: 38px;
}

.button-footer {
  display: flex;
  justify-content: center;
}
.btn {
  height: 60px;
  min-width: 240px;
  border-radius: 50px;
  font-size: 30px;
}
input {
  border: 0;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 12px;
  height: 60px;
  border-radius: 50px;
  font-size: 30px;
}
::placeholder {
  border-bottom: 1px solid grey;
  border-spacing: 15px 50px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.btn-again {
  background-color: #fa852f;
  color: white;
  margin-right: 24px;
}
.btn-home {
  margin-left: 24px;
}
.button-footer:first-child {
  margin-left: 20%;
}
.spacer {
  margin-right: 20%;
}
#result-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#result-card {
  margin: 0 28px;
}
.card-won {
  border: 3px solid #68d466;
}
.card-loss {
  border: 3px solid #de1f1f;
}
.game-result-img {
  width: 210px;
}
.start-new-game-button {
  float: right;
  width: 200px;
  color: #195272;
  border: 1px solid;
}
p {
  font-style: italic;
  font-weight: normal;
}
#result-subtitile {
  display: flex;
  align-items: center;
}
#won {
  color: #68d466;
}
#loss {
  color: #de1f1f;
}

#highscore-list {
  list-style: none;
  font-size: 20px;
  padding: 20px;
}
#list-content {
  display: flex;
  justify-content: space-between;
  margin: 12px 12px;
}
#text-header {
  text-align: center;
  margin: 12px;
  border-bottom: 1px solid;
  color: #195272;
}
.result-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.highscorelist {
  margin-bottom: 20%;
  border-left: 1px solid #05a3c7;
  padding-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
}
.name-form {
  display: flex;
  padding-left: 15px;
}
.highlight {
  color: #fa852f;
}
.send-btn {
  color: #195272;
}
.send {
  font-size: 40px;
}

#form-test {
  height: 50px;
}
.send-btn {
  background-color: white;
  margin-left: 12px;
  border-radius: 30px;
}
.icon {
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  .start-new-game-button {
    display: flex;
    float: none;
    width: 100%;
    justify-content: center;
  }
  .button-footer {
    display: inline;
    justify-self: start;
  }
  .result-main-content-container {
    width: 100%;
  }
  .result-side-menu {
    width: 0;
  }
}
@media only screen and (min-width: 768px) and (max-device-width: 1050px) {
  #result-container {
    margin: 0;
  }
  #result-card {
    margin: 0 5px;
  }
  #result-container {
    margin: 0;
    margin-top: 48px;
  }
  .game-result-img {
    width: 150px;
  }
}
