.result-container {
  min-height: 100vh;
  display: grid;
  background-image: linear-gradient(to top, #dbf0fd, #e7f3ff, #f1f6ff, #f9faff, #ffffff);
}
#result-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: auto;
  width: 90%;
}
#result-card-container > div {
  display: grid;
  justify-content: center;
}
#result-header {
  text-align: center;
  color: #195272;
  font-size: 48px;
  display: grid;
  align-items: end;
}

.btn {
  height: 60px;
  min-width: 240px;
  border-radius: 50px;
  font-size: 30px;
}
.btn-again {
  background-color: #fa852f;
  color: white;
}
.button-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  column-gap: 1em;
  row-gap: 1em;
}
.card-won {
  border: 8px solid #68d466;
}
.card-loss {
  border: 8px solid #de1f1f;
}
.start-new-game-button {
  float: right;
  width: 200px;
  color: #195272;
  border: 1px solid;
}
p {
  font-style: italic;
  font-weight: normal;
}
#result-subtitile {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
}
#won {
  color: #68d466;
  font-size: 36px;
}
#loss {
  color: #de1f1f;
  font-size: 36px;
}
.home-text {
  color: #14213d;
}
#text-header {
  text-align: center;
  margin: 12px;
  border-bottom: 1px solid;
  color: #195272;
}
.icon {
  font-size: 40px;
}
.game-result-img {
  width: 256px;
}
#result-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.result-header-multi {
  text-align: center;
  color: #195272;
  font-size: 48px;
  margin: 0;
  padding: 24px 24px;
}
.winner {
  color: #fa852f;
  font-weight: 500;
}
.winner-points {
}
.winner-img {
  height: 100px;
  background: blue;
}
@media (max-width: 568px) {
}
