@import '../../../variables.scss';

.result-container-background {
  position: relative;
}
.result-container-background:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../../../assets/background/io_rutemoenster-inverted.png');
  background-size: cover;
  background-color: black;
}
.result-container {
  position: relative;
  min-height: 100vh;
  display: grid;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 35px;
  height: 44px;
  width: 70px;
}
#result-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: auto;
  width: 90%;
}
#result-card-container > div {
  display: grid;
  justify-content: center;
}
#result-header {
  color: $text_primary_color;
  font-size: 48px;
  margin: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

#not-highscore-section {
  display: flex;
  flex-direction: row;
}

#score-header {
  color: $text_primary_color;
  font-family: 'AeonikLight';
  font-size: 32px;
}
#highscore-text {
  color: $text_primary_color;
  font-family: 'AeonikRegular';
  font-size: 24px;
}
#highscore-number {
  color: $text_secondary_color;
  font-family: 'AeonikBlack';
  font-size: 36px;
  font-style: italic;
  margin-left: 10px;
}

.btn {
  height: 60px;
  min-width: 240px;
  border-radius: 50px;
  font-size: 30px;
}
.btn-again {
  background-color: $button_background_color;
  color: $button_content_color;
}
.button-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  column-gap: 1em;
  row-gap: 1em;
}
.card-won {
  border: 8px solid #68d466;
}
.card-loss {
  border: 8px solid #de1f1f;
}
.start-new-game-button {
  float: right;
  width: 200px;
  color: #195272;
  border: 1px solid;
}
p {
  font-style: italic;
  font-weight: normal;
}
#result-subtitile {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
}
#won {
  color: #68d466;
  font-size: 36px;
}
#loss {
  color: #de1f1f;
  font-size: 36px;
}
.home-text {
  color: #14213d;
}
#text-header {
  text-align: center;
  margin: 12px;
  border-bottom: 1px solid;
  color: #195272;
}
.icon {
  font-size: 40px;
}
.game-result-img {
  width: 256px;
}

.result-header-multi {
  text-align: center;
  color: #195272;
  font-size: 48px;
  margin: 0;
  padding: 0 24px;
}
.winner {
  color: $text_secondary_color;
  font-weight: 500;
}
.loser {
  color: $text_secondary_color;
  font-weight: 500;
}
.winner-points,
.loser-points {
  font-size: 32px;
  color: $text_primary_color;
}
.winner-img {
  height: 100px;
}
.loser-img {
  height: 100px;
}
.multiplayer-score {
  color: $text_primary_color;
  font-weight: 200;
}
.result-word {
  font-weight: bold;
  color: $text_primary_color;
}
.result-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  #result-header {
    padding: 24px;
  }
  .link-float {
    padding-bottom: 24px;
  }
}
