<div id="lobbyBackground">
  <button class="logo">
    <img src="assets/logo/IO-logo-inverted_transparent-bg.png" alt="logo" aria-label="logo" />
  </button>
  <div id="lobbyContent">
    <div id="topContent">
      <button mat-raised-button id="homeButton" routerLink="/welcome" routerLinkActive="active">
        <span class="buttonText">
          <mat-icon class="buttonIcon" aria-label="Home icon" alt="Go back button">home</mat-icon>
          {{ 'BACK_BUTTON' | translate }}
        </span>
      </button>
    </div>

    <div id="waitingForPlayerInfo">
      <app-i-avatar [height]="200" [width]="100" [color]="colorOfI" />
      <app-speech-bubble
        [pointerSide]="PointerSide.Left"
        [arrowAlignment]="ArrowAlignment.Top"
        [isFlipped]="false"
        [textColor]="textColorI"
        [bubbleColor]="bubbleColorI"
        [bubbleSize]="'large'"
      >
        <div slot="body-alt" id="speechBubbleContent">
          <p id="waitingText">
            {{ 'WAITING_FOR_PLAYER' | translate }}
          </p>

          @if (waitingForOtherPlayer) {
          <div id="loader"></div>
          } @if (!waitingForOtherPlayer) {
          <span>
            <mat-icon class="checkIcon" aria-label="Checkmark icon"> done </mat-icon>
          </span>
          }
        </div>
      </app-speech-bubble>
    </div>
  </div>
</div>
