<div class="container-background">
  <div class="container">
    <div><img class="logo" src="assets/logo/IO-logo-inverted_transparent-bg.png" alt="logo" /></div>
    <div class="waiting-text">{{ 'WAITING_FOR_PLAYER' | translate }}</div>
    @if (waitingForOtherPlayer) {
    <div>
      <mat-spinner></mat-spinner>
    </div>
    } @if (!waitingForOtherPlayer) {
    <div>
      <mat-icon class="check-icon" aria-label="Example home icon">done</mat-icon>
    </div>
    }
    <a routerLink="/" routerLinkActive="active">
      <button mat-raised-button class="home-button">
        <div class="button-text">
          <mat-icon class="button-icon" aria-label="Example home icon">home</mat-icon>{{ 'BACK_BUTTON' | translate }}
        </div>
      </button>
    </a>
  </div>
</div>
