@import '../../../variables.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.text-content {
  display: flex;
  justify-content: start;
  width: 70ww;
}

.speech-bubbles {
  flex: 5;
  display: inline-flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}

.speech-bubble.left {
  align-self: flex-start;
}

.speech-bubble.right {
  align-self: flex-end;
}

.I-figure {
  min-width: 50px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.O-figure {
  display: flex;
  justify-content: flex-end;
  min-width: 190px;
  margin-top: 60px;
}

.button-container {
  margin: 20px;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  margin: 15vh 20px 0 60px;
}

#back-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
