<div class="container-background">
  <div class="container" (click)="skipAnimation()" (keypress)="skipAnimation()" tabindex="0">
    <header class="header">
      <button class="logo">
        <img src="assets/logo/IO-logo-inverted_transparent-bg.png" alt="logo" aria-label="Gå til admin side" />
      </button>
    </header>
    <div class="main-content">
      <div class="text-content">
        <div class="I-figure" [@show]="stateFigureI">
          <img src="assets/I-figure.svg" alt="I-figure" height="170px" />
        </div>
        <div class="speech-bubbles">
          <app-speech-bubble
            [@show]="stateFirstBubbleO"
            class="speech-bubble right"
            [pointerSide]="PointerSide.Bottom"
            [arrowAlignment]="ArrowAlignment.Right"
            [isFlipped]="false"
            [textColor]="CustomColorsIO.white"
            [bubbleColor]="CustomColorsIO.indigo"
            [bubbleSize]="'medium'"
            [bodyText]="'DIFFICULTY_MOTIVATION' | translate"
          >
          </app-speech-bubble>
          <div class="speech-bubble-buttons">
            <app-speech-bubble
              [@show]="stateFirstBubbleI"
              [pointerSide]="PointerSide.Left"
              [arrowAlignment]="ArrowAlignment.Center"
              [isFlipped]="false"
              [bubbleSize]="'medium'"
              [bodyText]="'DIFFICULTY_QUESTION' | translate"
            >
            </app-speech-bubble>
            <div class="button-container" [@show]="stateButtons">
              <button [disabled]="buttonsAreDisabled" class="button" id="easy-button" (click)="startDrawing('easy')">
                <img
                  src="../../../assets/icons/icon_difficulty_easy.svg"
                  alt="Easy difficulty icon"
                  class="difficulty-icon"
                />
                <div class="button-text">
                  {{ 'EASY_BUTTON' | translate }}
                </div>
              </button>
              <button
                [disabled]="buttonsAreDisabled"
                class="button"
                id="medium-button"
                (click)="startDrawing('medium')"
              >
                <img
                  src="../../../assets/icons/icon_difficulty_medium.svg"
                  alt="Medium difficulty icon"
                  class="difficulty-icon"
                />
                <div class="button-text">
                  {{ 'MEDIUM_BUTTON' | translate }}
                </div>
              </button>
              <button [disabled]="buttonsAreDisabled" class="button" id="hard-button" (click)="startDrawing('hard')">
                <img
                  src="../../../assets/icons/icon_difficulty_hard.svg"
                  alt="Hard difficulty icon"
                  class="difficulty-icon"
                />
                <div class="button-text">
                  {{ 'HARD_BUTTON' | translate }}
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="O-figure" [@show]="stateFigureO">
          <img src="assets/O-figure.svg" alt="O-figure" height="170px" />
        </div>
      </div>
    </div>
  </div>
</div>
