@import '../../../variables.scss';

.container {
  display: grid;
  grid-template-rows: 10vh auto 1fr; 
  grid-template-columns: 1fr; 
  min-height: 100vh;
  position: relative;
  padding: .8em 1.2em;
}

// .header {
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   padding-top: 1rem;
//   padding-right: 1.5rem;
// }

.header {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#back-btn {
 grid-column: 1/3;
 display: flex;
}

.main-content {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 2rem;
}

.text-content {
  display: flex;
  justify-content: start;
  width: 70ww;
}

.speech-bubbles {
  flex: 5;
  display: inline-flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}

.speech-bubble.left {
  align-self: flex-start;
}

.speech-bubble.right {
  align-self: flex-end;
}

.I-figure {
  min-width: 50px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.O-figure {
  display: flex;
  justify-content: flex-end;
  min-width: 190px;
  margin-top: 60px;
}

.button-container {
  margin: 20px;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  margin: 15vh 20px 0 60px;
}


