.info-title {
  border-bottom: 1px solid black;
}

button:active {
  transform: translateY(3px);
}

.btn-group button {
  background-color: #05a3c7;
  border: 1px solid #195272;
  color: #f4f4f4;
  padding: 2.5%;
  cursor: pointer;
  width: 90%;
  display: block;
  border-radius: 10px;
  font-size: 18px;
}

.btn-group button:first-child {
  background-color: #fa852f;
}

.btn-group button:hover {
  background-color: #195272;
}

.pairing {
  background-color: #195272;
  display: block;
  padding: 2.5%;
  margin-left: 5%;
  width: 85%;
  border-radius: 15px;
  #pair {
    label {
      color: white;
      font-size: 18px;
      padding: 0.5rem;
    }
  }
}
#pairid {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
#log {
  background: #fa852f;
  color: #f4f4f4;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 15px;
  font-size: 20px;
  border-radius: 15px;
  height: 30px;
  min-width: 120px;
  max-width: 200px;
  border: none;
  cursor: pointer;
}

.sign-out-btn {
  padding: 2%;
  border: 1px solid #05a3c7;
  background-color: #195272;
  width: 50%;
  border-radius: 10px;
  font-size: 16px;
  color: #f4f4f4;
}

.sign-out-btn:hover {
  background-color: #ce0e2d;
}
