<h1 align="center" class="info-title">Administrative handlinger</h1>
<h3 align="center">Advarsel!</h3>
<p align="center">Før du utfører en administrativ handling, vær helt sikker på at du vil gjøre den.</p>
<p align="center">Hvis en handling først gjennomføres, vil du IKKE være i stand til å gjøre om på den.</p>
<div class="btn-group" align="center">
  <button class="btn btn-lg btn-outline-primary" (click)="getInformation()">
    Vis informasjon
  </button>
  <p></p>
  <button (click)="revertDataset()">{{ this.datasetString }}</button>
  <p></p>
  <button (click)="retrain()">{{ this.retrainString }}</button>
  <p></p>
  <button (click)="clearHighScore()">{{ this.highScoreString }}</button>
</div>
<p></p>
<div align="center">
  <button mat-button class="sign-out-btn" (click)="signOut()">Logg ut</button>
</div>
