@import '../../../variables.scss';


// - ALL ------------------------------------------------------------

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

#drawingContainer {
  padding-top: 1%;
  padding-left: 1.5%;
  padding-right: 3%;
}

span {
  font-size: var(--fontSizeMedium);
}

.topContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-content: stretch;
}


// - INSIDE ------------------------------------------------------------

#timerContainer {
  position: absolute;
  color: $text_darker_grey;

  right: 5vw;
  margin-top: 4vh;
}

#countDown{
  display: flex;
  flex-direction: row;

  font-size: var(--fontSizeLarge);

  #timerIcon {
    height: auto;
    width: auto;
    color: $text_darker_grey;
    transform: scale(2);
    width: var(--fontSizeMedium);
  }
}

.drawing-seconds {
  display: flex;
  justify-items: flex-end;
  align-items: right;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
}

#drawingSurface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: auto;
  overflow: hidden;

  margin-top: 2vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw; 

  width: calc(94vw);
  height: calc(72vh);
}

#deleteButton {
  position: absolute;
  margin-top: 2vh;
  left: 4vw;
  height: auto;
  min-width: 12em;
  max-width: 40em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 10px;
  padding-right: 20px;
  border-radius: 50px;

  background-color: rgb(222, 13, 13);
  color: white;

  #buttonContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  #deleteIcon {
    width: 1.2em;
    height: 1.2em;
  }
}

canvas {
  touch-action: none;
  background-color: white;
}



// - OUTSIDE ------------------------------------------------------------

#iAvatarContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: left;
  margin-top: 2vh;
  left: 2vh;

  app-speech-bubble {
    span {
      font-size: var(--fontSizeMedium);
      line-height: var(--fontSizeMedium);

    }
    #guessWord{
      font-family: AeonikMedium;
    }
  }
}

#oAvatarContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: right;
  //-webkit-user-select: none; /* Chrome all / Safari all */
  //-moz-user-select: none; /* Firefox all */
  //-ms-user-select: none; /* IE 10+ */
  //user-select: none;
  //pointer-events: none;

  p,
  span {
    font-size: var(--fontSizeSmall);
    line-height: var(--fontSizeMedium);

  }

  span {
    font-family: AeonikBold;
  }

  #aiGuess{
    font-size: var(--fontSizeMedium)
  }
}
