<div class="drawing-container">
  <div class="drawing-header">
    <h1>Tegn: {{ guessWord }}</h1>
    <div class="drawing-seconds">
      <span class="material-icons">
        timer
      </span>
      <span #countDown>{{ timeLeft }} s</span>
    </div>
    <button mat-icon-button color="primary" aria-label="icon button with a trash icon" (click)="clear()">
      <span class="material-icons">
        restore_from_trash
      </span>
    </button>
  </div>
  <div>
    <canvas
      id="drawing-canvas"
      (mousedown)="start($event)"
      (mouseup)="stop($event)"
      (mousemove)="draw($event)"
      (touchstart)="start($event)"
      (touchmove)="draw($event)"
      (touchend)="stop($event)"
      #canvas
    ></canvas>
  </div>

  <div class="drawing-robot"></div>
</div>
