@import '../../../variables.scss';

#drawing-canvas {
  position: absolute;
  touch-action: none;
  border: 1px solid #e5e5e5;
  margin: auto;
}
.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #949494;
}
.timer-icon {
  margin-right: 10px;
}
.drawing-container {
  margin: auto;
  width: 90%;
  padding-top: 24px;
}
.drawing-header {
  display: flex;
  justify-content: space-between;
}
.drawing-header > h1 {
  color: $text_secondary_color;
  margin: 0;
}
.drawing-header-text {
  color: #949494;
}
.drawing-seconds {
  display: flex;
  align-items: center;
  font-size: 22px;
}
.drawing-seconds > span {
  margin-right: 10px;
}
.base-timer {
  position: relative;
  height: 30px;
  width: 30px;
}
.base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: grey;
}

.avatar-container {
  display: flex;
  position: absolute;
  bottom: 0;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  pointer-events: none;
}
.guess-label {
  align-self: flex-end;
  color: black;
  background-color: $button_background_secondary_color;
  font-size: 36px;
  line-height: 43px;
  height: 50%;
  border-radius: 20px;
  box-shadow: 0 0 6px #b2b2b2;
  display: inline-block;
  padding: 10px 18px;
  vertical-align: top;
  margin-bottom: 24px;
}
.guess-label::before {
  background-color: $button_background_secondary_color;
}
.clip-container {
  width: 100px;
  height: 100px;
}
.clip {
  width: 200px;
  height: 200px;
  background: #195272;
  clip-path: polygon(100% 0, 100% 100%, 20% 100%, 20% 68%, 0 56%, 20% 46%, 20% 0);
}
.me::before {
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  left: -9px;
}
.guessing-avatar {
  display: flex;
  height: 150px;
}
@media only screen and (max-width: 600px) {
  .guess-label {
    font-size: 18px;
    line-height: normal;
  }
  .guessing-avatar {
    width: 120px;
  }
}
.delete-icon {
  color: grey;
}
