@import '../../../variables.scss';

* {
  --bbFontSizeSmall: 28px;
  --bbFontSizeMedium: 36px;
  --bbFontSizeLarge: 48px;
  --bbInfoTextColor: rgb(181, 181, 181);;

  font-size: var(--bbFontSizeMedium);

  #oAvatarContainer{
    p, span {
      font-size: var(--bbFontSizeSmall);
    }
  }
  
}

body{
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.drawingContainer {
  padding-top: 24px;
  padding-left: 3%;
  padding-right: 3%;
}

#timerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--bbInfoTextColor);
  margin-top: 5%;
  margin-right: 2.3%;
}

.timerIcon{
  height: auto;
  width: auto;
  color: var(--bbInfoTextColor);
}

.drawingHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-content: stretch;
  font-size: --bbFontSizeMedium;
}


#guessWord {
  font-size: --bbFontSizeMedium;
  color: $text_secondary_color;
}

.drawing-seconds {
  display: flex;
  justify-items: flex-end;
  align-items: right;
  padding-inline: 10px;
  margin-right: 60px;
} 

.base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: grey;
}

#drawingSurface{
  margin-left: 6vw;
  margin-top: -13vh;
  margin-bottom: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#deleteButton {
  margin-top: 2vh;
  left: 18vh;
  position: absolute;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: rgb(222, 13, 13);
  color: white;
  padding: 10px;
  padding-right: 20px;
  border-radius: 50px;
  height: auto;
  min-width: 50px;
  max-width: 400px;
}

#buttonText{
  font-size: --bbFontSizeMedium;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.deleteIcon {
  margin-bottom: -0.2em;
  width: 1.2em;
  height: 1.2em; 
}

#deleteText{
  line-height: var(--bbFontSizeLarge);
}

#drawingInfo {
  z-index: 100;
}

.canvasContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  overflow: hidden;
  width: 94%;
  height: calc(75vh);
}

canvas {
  touch-action: none;
  border: 1px solid #e5e5e5;
  background-color: white;
}

#iAvatarContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;

  margin-top: 2vh;
  left: 2vh;

  z-index: -1;

  app-speech-bubble {
    span {
      font-family: AeonikMedium;
      font-size: --bbFontSizeMedium;
      line-height: 0rem;
    }
  }
}

#oAvatarContainer {
  display: flex;
  flex-direction: row;

  position: absolute;
  right: 4vw;
  margin-top: 2vh;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  pointer-events: none;

  p, span{
    font-size: --bbFontSizeSmall;
  }

  span {
    font-family: AeonikBold;
  }
}

.guessText, span{
  font-size: --bbFontSizeMedium;
}



