<div class="drawing-container">
  <div class="drawing-header">
    <h1><span class="drawing-header-text">Tegn: </span>{{ guessWord | uppercase }}</h1>
    <div class="drawing-seconds">
      <div class="base-timer">
        <span class="base-timer__label" #countDown>
          {{ timeLeft }}
        </span>
      </div>
    </div>
    <button mat-icon-button color="primary" aria-label="icon button with a trash icon" (click)="clear()">
      <span class="material-icons">
        <img src="../../../assets/eraser.svg" alt="Kiwi standing on oval" />
      </span>
    </button>
  </div>
  <div>
    <canvas
      id="drawing-canvas"
      (mousedown)="start($event)"
      (mouseup)="stop($event)"
      (mousemove)="draw($event)"
      (mouseleave)="leaveCanvas($event)"
      (mouseenter)="enterCanvas($event)"
      (touchstart)="start($event)"
      (touchmove)="draw($event)"
      (touchend)="stop($event)"
      #canvas
    ></canvas>
  </div>
</div>

<div class="avatar-container">
  <div class="">
    <img src="../../../assets/avatar-halv.svg" alt="Avatar guessing words" class="guessing-avatar" />
  </div>
  <div class="guess-label me">
    <span>Hmm... <span *ngIf="AI_GUESS">kan det være &nbsp;</span>{{ AI_GUESS | uppercase }} </span>
  </div>
</div>
