@import './../../../../variables.scss';

.user-drawing-board {
  border-radius: 0.6em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28em;
  height: 42vh; // this height comes size set in game-intermediate-result.scss .result-img > img
}

.correct {
  border: 0.5em solid $positive_feedback_color;
}

.incorrect {
  border: 0.5em solid $negative_feedback_color;
}

.round-score-text {
  font-family: 'AeonikBold';
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5em 0 0;
}
