.intermediate-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5em;
}

.logo {
  margin-right: auto;
  height: 44px;
  width: 70px;
}

.game-progress-bar {
  justify-self: center;
}
