<div mat-dialog-content class="content">
  <h1 align="center" class="dialog-title" mat-dialog-title>Informasjon:</h1>
</div>
<div mat-dialog-content class="content">
  <p>Navn på iterasjon: {{ data.iterationName }}</p>
</div>
<div mat-dialog-content class="content">
  <p>Tidspunktet iterasjonen ble lagd: {{ data.timeCreated }}</p>
</div>
<div mat-dialog-content class="content">
  <p>Antall (nye) bilder i treningssettet: {{ data.imageCount }}</p>
</div>
<div mat-dialog-content class="content">
  <p>(Trykk utenfor boksen for å lukke)</p>
</div>
