<div [ngSwitch]="gameLevel">
  <div *ngSwitchCase="GAMELEVEL.lobby"><app-lobby></app-lobby></div>
  <div *ngSwitchCase="GAMELEVEL.howToPlay"><app-game-info></app-game-info></div>
  <div *ngSwitchCase="GAMELEVEL.waitingForWord"><app-game-word-to-draw></app-game-word-to-draw></div>
  <div *ngSwitchCase="GAMELEVEL.drawing"><app-drawing></app-drawing></div>
  <div *ngSwitchCase="GAMELEVEL.intermediateResult">
    <app-game-intermediate-result></app-game-intermediate-result>
  </div>
  <div *ngSwitchDefault>Loading</div>
</div>
