@import './../../../../variables.scss';

footer {
  display: flex;
  flex-direction: row-reverse;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button-container,
.disabled {
  grid-column: 7 / -1;
  justify-self: end;
  padding: 0.5em;
  border-radius: var(--buttonBorderRadius);
  border: 3px solid white;
  background: $full_gradient;
}

