@import '../../../../../variables.scss';

.cdk-overlay-container .cdk-overlay-pane {
  border-radius: 1.5rem;
  overflow: hidden;
  padding-left: var(--boxPaddingX);
  padding-right: var(--boxPaddingX);

  width: 40vw;
  height: 30vh;
}

#exitGameText,
#exitGameAction,
#confirmExitHomeButtonText {
 display: flex;
 align-items: center;
}

#exitGameText {
  justify-content: center;
  width: inherit;
  height: 10vh;
  font-size: var(--fontSizeSmall); // make to variable
  border: 1px solid black;
}

#exitGameActions {
  width: inherit;
  flex-direction: row;
  justify-content: space-around;
}

#confirmExitHomeButtonText {
  color: $white_color;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.confirmExitIdleButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  font-family: AeonikMedium;
  font-size: var(--fontSizeSmall);
  border-radius: 10rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  width: 13rem;
  background: $white_color;
}

.confirmExitIdleButton :focus {
  background-color: $white_color;
}
#confirmExitIdleButtonIcon {
  color: $white_color;
  margin-right: 0.5rem;
  }

#confirmExitHomeButton {
  background-color: $red_color;
}
