@import './../../../../variables.scss';
.feedback-container {
  display: flex;
  gap: 2rem;
}

.avatar {
  max-width: 11rem;
}

.chat-bubble-container {
  background-color: $chat_bubble_o_bg_color;
  color: $text_primary_color_dark;
  border-radius: 1em;
  padding: 1.5em;
  font-family: 'AeonikRegular';
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  align-self: flex-start;
}

.feedback-title {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.feedback-desc {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}
