.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background: linear-gradient(0.5deg, #195272 -0.56%, #05a3c7 138.78%);
}
.play-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
.info-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
@media (min-width: 600px) {
  .info-text {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
  }
}
.play-game-button {
  background: #fa852f;
  color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  font-size: 20px;
  border-radius: 50px;
  height: 50px;
  width: 240px;
}
@media (min-width: 600px) {
  .play-game-button {
    font-size: 36px;
    border-radius: 50px;
    height: 60px;
    width: 275px;
  }
}
.navigation-button {
  border-radius: 50px;
  color: #195272;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: 18px;
  height: 40px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .navigation-button {
    font-size: 24px;
    height: 45px;
    width: 240px;
    margin: 50px;
  }
}
.tts-button {
  top: 0;
  position: absolute;
  right: 0;
  margin: 24px;
}
.mat-fab.mat-primary {
  background: #ecf8ff;
  color: #195272;
}
.material-icons {
  vertical-align: middle;
}
