@import '../../variables.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.language-button-container {
  display: inline-flex;
  align-items: flex-start;
  gap: 1em;
  margin-right: 35px;
}

.language-button {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid $white_color;
  background: $black_color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: $white_color;
  font-family: AeonikMedium;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.language-button.selected {
  background: $white_color;
  color: $dark_blue_color;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  display: flex;
  justify-content: start;
  width: 1200px;
  padding-bottom: 50px;
}

.speech-bubbles {
  flex: 5;
  display: inline-flex;
  flex-direction: column;
}

.speech-bubbles > :nth-child(1) {
  margin-bottom: -50px;
}

.speech-bubbles > :nth-child(3) {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.speech-bubble.left {
  align-self: flex-start;
}

.speech-bubble.right {
  align-self: flex-end;
}

.I-figure {
  min-width: 100px;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 150px;
}

.O-figure {
  display: flex;
  justify-content: flex-end;
  min-width: 190px;
  margin-top: 60px;
}

.speech-bubble-text {
  font-size: 38px;
  line-height: 38px;
  font-family: AeonikRegular;
}

.button-container {
  margin-top: 0;
  display: inline-flex;
  align-items: center;
  gap: 75px;
  margin-bottom: 50px;
}

.play-game-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: 36px;
  border-radius: 50px;
  height: 70px;
  margin-top: 10px;
  min-width: 200px;
  max-width: 400px;
  background: $white_color;
}

.button-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $dark_blue_color;
}
.button-icon {
  margin-right: 16px;
  font-size: 40px;
  background: $icon_gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
  width: 40px;
}
