<p>Informasjon om spillet:</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere
  fermentum enim, quis eleifend risus fringilla fringilla. Donec interdum nisl
  in enim semper tempus. Mauris varius diam sed arcu commodo, sit amet facilisis
  sapien aliquet. Curabitur a orci accumsan, sodales velit id, sagittis metus.
  Pellentesque sed posuere purus, at porttitor metus. Pellentesque in nibh
  posuere, accumsan ipsum id, viverra augue. Quisque eget tellus sit amet orci
  auctor dapibus.
</p>

<button (click)="startGame()">Start spill!</button>
