<div class="container" [class.site-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar-container">
    <span>Tekniskspill</span>
    <span class="nav-spacer"></span>
    <button
      mat-icon-button
      onclick="responsiveVoice.speak('Hei, mitt navn er Kunstig Intelligens. Jeg elsker å lære nye ord. Kan du hjelpe meg?');"
      type="button"
      value="Play"
    >
      <mat-icon>volume_up</mat-icon>
    </button>
    <span class="nav-spacer"></span>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      position="end"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="side-drawer"
    >
      <mat-card class="side-nav-button"
        ><mat-icon aria-label="Example home icon">perm_media</mat-icon>Se andres tegninger</mat-card
      >
      <mat-card class="side-nav-button"
        ><mat-icon aria-label="Example home icon">school</mat-icon>Lær om kunstig intelligens</mat-card
      >
      <a [routerLink]="['/highscore']" routerLinkActive="router-link-active">
        <mat-card class="side-nav-button"><mat-icon aria-label="Example home icon">star</mat-icon>Topplisten</mat-card>
      </a>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <div class="main-container">
        <img src="assets/welcome-guy.png" alt="" class="welcome-guy" />
        <button mat-raised-button color="primary" class="play-game-button" (click)="goToGameInfoPage()">Spill</button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
