// .ng-star-inserted {
//   height: 100px !important;
// }
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0.5deg, #195272 -0.56%, #05a3c7 138.78%);
}
.play-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  @media (min-width: 600px) {
    .play-container {
      margin-top: 200px;
    }
  }
}
.text-container {
  display: flex;
  flex-direction: row;
}
.avatar {
  display: none;
}
@media (min-width: 600px) {
  .avatar {
    display: block;
    margin-right: 25px;
  }
}
.avatar-image {
  height: 300px;
}
a {
  text-decoration: none;
}
.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 600px) {
  .info-text {
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
  }
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media (min-width: 600px) {
  .button-container {
    justify-content: center;
  }
}
.game-mode-text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 22px;
  margin-top: 50px;
}
@media (min-width: 600px) {
  .game-mode-text {
    font-size: 32px;
  }
}
.play-game-button {
  background: #fa852f;
  color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  font-size: 20px;
  border-radius: 50px;
  height: 40px;
  min-width: 240px;
  max-width: 400px;
}
@media (min-width: 600px) {
  .play-game-button {
    font-size: 32px;
    height: 60px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    min-width: 230px;
    max-width: 400px;
  }
}

.learn-button {
  top: 0;
  position: absolute;
  left: 0;
  margin: 24px;
  margin-top: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: 20px;
  border-radius: 50px;
  height: 40px;
  min-width: 200px;
  max-width: 400px;
}
@media (min-width: 600px) {
  .learn-button {
    font-size: 24px;
    height: 50px;
  }
}
.button-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-icon {
  color: #ffffff;
  margin-right: 10px;
}
