<div class="game-info-container-background">
  <div class="game-info-container">
    <div><img class="logo" src="assets/logo/IO-logo-inverted_transparent-bg.png" alt="logo" /></div>
    <div class="game-info-text-content">
      @if (isSinglePlayer) {
        <h1 class="player-mode"><mat-icon>person</mat-icon>{{ 'PLAYER_MODE_SINGLE' | translate }}</h1>
      }
      @if (isMultiPlayer) {
        <h1 class="player-mode"><mat-icon>people_alt</mat-icon>{{ 'PLAYER_MODE_MULTI' | translate }}</h1>
      }
      <div class="game-info-text-content-list">
        <div class="avatar">
          <img class="avatar-image" src="assets/illustrations/IO_Illustrasjoner-1_1360x939.png" alt="avatar" />
        </div>
        <div class="game-info-text-content-list-text">
          @if (isSinglePlayer) {
            <h1 class="game-info-text-header">{{ 'HOW_TO_PLAY_SINGLE' | translate }}</h1>
          }
          @if (isMultiPlayer) {
            <h1 class="game-info-text-header">{{ 'HOW_TO_PLAY_MULTI' | translate }}</h1>
          }
          <ol class="game-info-text-list">
            <li>{{ 'DRAW_WORD' | translate }}</li>
            <li>{{ 'IO_GUESSES' | translate }}</li>
            @if (isSinglePlayer) {
              <li>{{ 'NUMBER_OF_ROUNDS' | translate }}</li>
            }
            @if (isMultiPlayer) {
              <li>{{ 'BEST_OF_THREE' | translate }}</li>
            }
          </ol>
        </div>
      </div>
      <div class="game-info-footer">
        <button mat-raised-button class="button" id="back-button" (click)="goToLanding()">
          <div class="button-text">
            <mat-icon class="button-icon" aria-label="Example home icon">arrow_back_ios</mat-icon>{{ 'BACK_BUTTON' | translate }}
          </div>
        </button>
        <button mat-raised-button class="button" id="get-word-button" (click)="goToDifficultyPicker()">
          <div class="button-text">
            {{ 'NEXT_BUTTON' | translate }}
            <mat-icon class="button-icon play_arrow" aria-label="play_arrow">arrow_forward_ios</mat-icon>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
