<div class="game-info-container">
  <button mat-fab (click)="speakInfo()" type="button" value="Play" color="primary" class="tts-button">
    <mat-icon>volume_up</mat-icon>
  </button>

  <div class="game-info-text-content">
    <div class="game-info-text-content-list">
      <div class="avatar"><img src="../../../assets/avatar-hallo.svg" alt="avatar" /></div>
      <div class="game-info-text-content-list-text">
        <h1 class="game-info-text-header">Slik spiller du:</h1>
        <ol class="game-info-text-list">
          <li>Tegn ord</li>
          <li>Kunstig Jens gjetter</li>
          <li>Tre runder</li>
        </ol>
      </div>
    </div>
    <div class="game-info-footer">
      <button mat-raised-button class="button" id="back-button" (click)="goToLanding()">
        <div class="button-text">
          <mat-icon class="button-icon" aria-label="Example home icon">arrow_back</mat-icon>Tilbake
        </div>
      </button>
      <button mat-raised-button class="button" id="get-word-button" (click)="startDrawing()">
        Start
      </button>
    </div>
  </div>
</div>
