.game-info-text-header {
  color: #fa852f;
  font-size: 48px;
}
.game-info-container {
}
.game-info-text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}
.game-info-text-list {
  color: #195272;
}
.game-info-text-list > li {
  font-size: 28px;
  margin: 28px;
}
.game-info-footer {
}
.get-word-button {
  width: 200px;
  background: #195272;
}
