.material-icons {
  color: #195272;
}
.game-info-text-header {
  color: #fa852f;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  margin-top: 30px;
}
@media (min-width: 600px) {
  .game-info-text-header {
    font-size: 48px;
    font-weight: 500;
  }
}
.game-info-seconds {
  display: flex;
  align-items: center;
}
.game-info-seconds > span {
  margin-right: 10px;
}
.game-info-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.game-info-text-content-list {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.game-info-text-content-list-text {
  display: flex;
  flex-direction: column;
}
.game-info-footer {
  display: flex;
  width: 80%;
  margin-bottom: 75px;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
@media (min-width: 600px) {
  .game-info-footer {
    justify-content: space-between;
  }
}
.game-info-text-list {
  color: #195272;
}
.game-info-text-list > li {
  font-size: 24px;
  margin: 28px;
}
@media (min-width: 600px) {
  .game-info-text-list > li {
    font-size: 30px;
    margin: 28px;
  }
}
.avatar {
  display: none;
}
@media (min-width: 600px) {
  .avatar {
    display: block;
    margin-right: 10px;
  }
}
.button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: 20px;
  border-radius: 50px;
  height: 40px;
  margin-top: 10px;
  min-width: 240px;
  max-width: 400px;
}
@media (min-width: 600px) {
  .button {
    font-size: 30px;
    height: 60px;
  }
}
#get-word-button {
  background: #fa852f;
  color: #ffffff;
  float: right;
}
@media (min-width: 600px) {
  #get-word-button {
    float: right;
  }
}
#back-button {
  background: #f4f4f4;
  color: #14213d;
}
.button-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-icon {
  color: #14213d;
  margin-right: 5px;
}
.tts-button {
  top: 0;
  position: absolute;
  right: 0;
  margin: 24px;
}
.mat-fab.mat-primary {
  background: #ecf8ff;
  color: #14213d;
}
