@import '../../../variables.scss';

.cdk-overlay-backdrop.cdk-overlay-dark-backdrop.cdk-overlay-backdrop-showing {
  background: rgba(20, 33, 61, 0.8);
}

.cdk-overlay-container .cdk-overlay-pane {
  border-radius: 1.5rem;
  overflow: hidden;
  padding-left: var(--boxPaddingX);
  padding-right: var(--boxPaddingX);

  width: 60vw;
  height: 25vh;
}

#countdownText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 10vh;
  font-size: var(--fontSizeSmall); // make to variable
}

#actions {
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.idleButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: var(--fontSizeSmall);
  border-radius: 10rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  width: 20rem;
  background: $button_background_color;
}

.idleButton :focus {
  background-color: $button_background_color;
}

#homeButtonText {
  color: $button_content_color;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

#idleButtonIcon {
  color: $button_content_color;
  margin-right: 1rem;
  height: var(--fontSizeSmall);
}
