<div mat-dialog-content class="content">
  <p>
    {{ 'AUTO_END_MESSAGE' | translate }} <strong>{{ timer }}</strong> {{ 'SECONDS' | translate }}
  </p>
</div>
<div mat-dialog-actions class="actions">
  <button mat-raised-button class="button" id="stay-button" (click)="closeDialog()">
    {{ 'STAY_BUTTON' | translate }}
  </button>
  <button mat-raised-button class="button" id="home-button" (click)="goHome()">
    <div class="button-text"><mat-icon class="button-icon">home</mat-icon>{{ 'END_NOW_BUTTON' | translate }}</div>
  </button>
</div>
