<!-- For buttonstyles to advance in the game -->
<button *ngIf="buttonStyle === 'select-mode-button' || buttonStyle === 'select-mode-button-large' || buttonStyle === 'forward-button' || buttonStyle === 'play-again-button'"
  [disabled] = "disabled"
  [class] = "buttonStyle">
  <div *ngIf="buttonStyle === 'forward-button'" class="full-gradient-inner">
    <div class="button-text">
        {{buttonText}}
        <mat-icon class="back-button-icon" aria-label="play_arrow">arrow_forward_ios</mat-icon> 
    </div>
  </div>
  <div *ngIf="buttonStyle !== 'forward-button'" class="non-gradient-inner">
    <div class="button-text">
        <ng-content select="[slot='custom-mat-icon']"></ng-content>
        {{buttonText}}
    </div>
  </div>
</button>
<!-- For ButtonStyles that go back or home, and default -->
<button  *ngIf="buttonStyle === 'back-button' || buttonStyle === 'home-button' || buttonStyle === 'default-button'"                                  
  (click)="clickHandler()"  
  [disabled]="disabled"
  [class]="buttonStyle">
  <div class="button-text">
    <img *ngIf="iconSrc && (buttonStyle === 'back-button')" class="back-button-icon" [src]="iconSrc" [alt]="alt"/>
    <img *ngIf="iconSrc && (buttonStyle === 'home-button')" class="button-icon" [src]="iconSrc" [alt]="alt"/> 
    <img *ngIf="iconSrc && (buttonStyle === 'default-button')"  class="default" [src]="iconSrc" [alt]="alt"/>
    {{ buttonText }}
  </div>
</button>