<!-- For buttonstyles to advance in the game -->
<button *ngIf="getStyle === 'select-mode-button' || getStyle === 'select-mode-button-large' || getStyle === 'forward-button' || getStyle === 'play-again-button'"
  [disabled] = "disabled"
  [class] = "buttonStyle">

  <div *ngIf="buttonStyle === 'forward-button'" class="full-gradient-inner">
    <div class="button-text">
        {{buttonText}}
        <mat-icon class="back-button-icon" aria-label="play_arrow">arrow_forward_ios</mat-icon> 
    </div>
  </div>
  <div *ngIf="buttonStyle !== 'forward-button'" class="non-gradient-inner">
    <div class="button-text">
        <ng-content select="[slot='custom-mat-icon']"></ng-content>
        {{buttonText}}
    </div>
  </div>
</button>
<!-- For ButtonStyles that go bo back or home -->
<button *ngIf="getStyle === 'back-button' || getStyle === 'home-button' || getStyle === 'default-button'"
  [disabled]="disabled"
  [class]="buttonStyle">
  <div class="button-text">

    <img *ngIf="iconSrc && (getStyle === 'back-button')" class="back-button-icon" [src]="iconSrc" [alt]="alt"/>
    <img *ngIf="iconSrc && (getStyle === 'home-button')" class="button-icon" [src]="iconSrc" [alt]="alt"/> 
    <img *ngIf="iconSrc && (getStyle === 'default-button')"  class="default" [src]="iconSrc" [alt]="alt"/>
    
    {{ buttonText }}
  </div>
</button>