/* You can add global styles to this file, and also import other style files */
@import './css-reset.css';
@import './variables.scss';

@font-face {
  font-family: AeonikMedium;
  src: url('./assets/fonts/Aeonik/Aeonik-Medium.otf') format('opentype');
}

@font-face {
  font-family: AeonikRegular;
  src: url('./assets/fonts/Aeonik/Aeonik-Regular.otf') format('opentype');
}

@font-face {
  font-family: AeonikLight;
  src: url('./assets/fonts/Aeonik/Aeonik-Light.otf') format('opentype');
}

@font-face {
  font-family: AeonikBlack;
  src: url('./assets/fonts/Aeonik/Aeonik-Black.otf') format('opentype');
}

@font-face {
  font-family: ICTHofmannRegular;
  src: url('./assets/fonts/ICTHofmann/ICTHofmann-Regular.otf');
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
div {
  font-family: AeonikLight;
}
button,
.button-text {
  font-family: AeonikRegular;
}
.mat-typography h1 {
  font-family: AeonikMedium;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $text_secondary_color;
}

.avatar-name {
  font-family: ICTHofmannRegular;
}
