/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffffff;
}

.mat-dialog-container {
  border-radius: 56px !important;
}