//Buttons
$button_background_color: #fff;
$button_background_secondary_color: #fae6e6;
$button_content_color: #1F60DE;

//Text
$text_primary_color: #ffffff;
$text_secondary_color: #f14a64;
$text_primary_color_dark: #090909;
$text_light_grey: #b5b5b5;
$text_darker_grey: #707070;

//Chat bubbles
$chat_bubble_o_bg_color: #d9d9d9;
$chat_bubble_bg_color_pastelBlue: #bce1e6;
$chat_bubble_color_i: #35399f;
$chat_bubble_color_o: #673b9f;

//Feedback colors
$negative_feedback_color: #fd595d;
$negative_feedback_color_bright: #de0d0d;
$positive_feedback_color: #00d83c;

* {
  --fontSizeSmall: 28px;
  --fontSizeMedium: 36px;
  --fontSizeLarge: 48px;

  --fontSizeSpeechBubble: 32px;

  --buttonBorderRadius: 10rem;

  --logoWidth: 70px;
  --logoHeight: 44px;
}
