//Buttons
$button_background_color: #fff;
$button_background_secondary_color: #fae6e6;
$button_content_color: #3118cb;

//Text
$text_primary_color: #fff;
$text_secondary_color: #f14a64;
$text_primary_color_dark: #090909;
$text_light_grey: #b5b5b5;

//Chat bubbles
$chat_bubble_o_bg_color: #d9d9d9;
$chat_bubble_bg_color_pastelBlue: #bce1e6;

//Feedback colors
$negative_feedback_color: #fd595d;
$positive_feedback_color: #bef891;

* {
  --fontSizeSmall: 28px;
  --fontSizeMedium: 36px;
  --fontSizeLarge: 48px;

  --buttonBorderRadius: 10rem;

  --logoWidth: 70px;
  --logoHeight: 44px;
}
