//Background and text
$black_color: #030303;
$white_color: #fbfbfb;

//Feedback colors
$red_color: #f52147;
$light_red_color: #ffd6d6;
$green_color: #2df85a;

//Accent colors
$dark_blue_color: #2438c2;
$dark_purple_color: #24115a;
$light_grey_color: #b5b5b5;
$darker_grey_color: #707070;

//Gradient colors
$pink_color: #ec526d;
$yellow_color: #eec589;
$tame_yellow_color: #edba86;
$turquoise_color: #1cceda;
$blue_color: #1f60de;
$purple_color: #681fde;

$icon_gradient: linear-gradient(
  0deg,
  $blue_color 0%,
  $purple_color 13.17%,
  $pink_color 69.27%,
  $tame_yellow_color 97.56%
);
$full_gradient: linear-gradient(
  90deg,
  $blue_color -5.18%,
  $purple_color 19.82%,
  $pink_color 44.82%,
  $yellow_color 69.82%,
  $turquoise_color 94.82%
);

* {
  --fontSizeSmall: 32px;
  --fontSizeMedium: 36px;
  --fontSizeLarge: 48px;

  --fontSizeSpeechBubble: 32px;

  --buttonBorderRadius: 10rem;

  --logoWidth: 70px;
  --logoHeight: 44px;
}
